<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>trendy talk</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href="app-content/app.css" rel="stylesheet" />
  
</head>
<body>
    <div ng-class="{'page-container': vm.isSignedIn}">
        <div ng-show="vm.isSignedIn" ng-class="{'page-sidebar': vm.isSignedIn}">
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="index.html">Trendy Talk</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="assets/images/users/no-image.jpg" alt="John Doe" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="assets/images/users/no-image.jpg" alt="John Doe" />
                        </div>
                    </div>
                </li>
                <li class="active">
                    <a ng-click="vm.goToPage('/home')" href=""><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                </li>
                <li class="xn-openable" ng-repeat="menu in vm.SiteMenu | filter:{ParentId : 0}:true" data-ng-include="'treeMenu'">
                </li>
            </ul>
            <!-- END X-NAVIGATION -->
        </div>

        <div ng-class="{'page-content': vm.isSignedIn}">
            <ul ng-show="vm.isSignedIn" class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- SEARCH -->
                <li class="xn-search">
                    <form role="form">
                        <input type="text" name="search" placeholder="Search..." />
                    </form>
                </li>
                <!-- END SEARCH -->
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                </li>
            </ul>
            <div ng-class="{'page-content-wrap': vm.isSignedIn}" style="min-height:500px;">
                <div ng-view>

                </div>
            </div>
        </div>
        <div ng-show="vm.isSignedIn" style="margin-left: 220px;background: #e8e8e8;">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    EDuRP - Education ERP Management System &copy;2018. All rights reserved.
                </div>
            </div>
        </div>
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title">
                        <a href="#!/login" class="fa fa-sign-out">Logout</a>
                        <!--<span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?-->                    
                    </div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>
                        <p>Press No if you want to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="" ng-click="vm.logout()" class="btn btn-success btn-lg mb-control-close">Yes</a>
                            <a href="" class="btn btn-info btn-lg mb-control-close">No</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--<div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>
        </div>
    </div>-->

    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>   

    <script src="app.js"></script>
    <script src="app-services/authentication.service.js"></script>
    <script src="app-services/flash.service.js"></script>

    <!-- Real user service that uses an api -->
    <script src="app-services/user.service.js"></script>

    <!-- Fake user service for demo that uses local storage -->
    <!--<script src="app-services/user.service.local-storage.js"></script>-->

    <script src="home/home.controller.js"></script>
    <script src="login/login.controller.js"></script>
    <script src="register/register.controller.js"></script>
</body>
</html>