<div class="container-fluid">
    <div class="navbar-header">
        <h3>Admin Panel</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form name="frmAdminPanel" novalidate>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="cname" class="control-label">Category</label>
                            <select class="form-control" data-ng-options="fps.categoryName for fps in ListCategory" data-ng-model="categoryModel">
                                <option>--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="cname" class="control-label">Country</label>
                            <select class="form-control" data-ng-options="fps.countryName for fps in ListCountry" data-ng-model="countryModel">
                                <option>--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="cname" class="control-label">Topic</label>
                            <input type="text" class="form-control" name="topic" id="topic" placeholder="Topic">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="cname" class="control-label">HyperLink</label>
                            <input type="text" class="form-control" name="hyperlink" id="hyperlink" placeholder="HyperLink">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table>
                            <tr>
                                <th class="control-label">News Channel</th>
                                <th></th>
                            </tr>
                            <tbody ng-repeat="m in newsChannels">
                                <tr>
                                    <td><input class="form-control" type="text" value="{{m.Name}}" /></td>
                                    <td><input class="btn btn-primary btn-xs pull-right" type="button" ng-click="Remove($index)" value="Remove" /></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <input class="form-control" type="text" ng-model="Name" name="channelName" placeholder="" required />
                                        <span class="error" ng-show="(frmAdminPanel.$dirty||submitted) && frmAdminPanel.channelName.$error.required">Channel name is Required</span>
                                    </td>
                                    <td><input class="btn btn-primary btn-xs pull-right" type="button" ng-disabled="frmAdminPanel.$invalid" ng-click="Add()" value="Add" /></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success pull-right" ng-click="createNewsChannels()">
                            Save
                        </button>
                    </div>
                </div>
            </form>
            <span class="warning">{{resmessage}}</span>
        </div>
    </div>
</div>
